body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f7fc;
    color: #333;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #222;
}


form label {
    font-weight: 600;
}

form input,
form select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.2s ease;
    font-size: 15px;
}

form input:focus,
form select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59,130,246,0.5);
}

button {
    width: 100%;
    background: #3b82f6;
    border: none;
    padding: 14px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #1e64d4;
}



.table-container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background: #3b82f6;
    color: white;
    padding: 12px;
    text-align: left;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
}

table tr:hover {
    background: #eef2ff;
}

.no-data {
    text-align: center;
    padding: 20px;
    color: #777;
}

.btn-delete {
    padding: 6px 12px;
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.btn-delete:hover {
    background: #c53030;
}



@media (max-width: 600px) {
    .container, .table-container {
        width: 95%;
        padding: 18px;
    }

    table th, table td {
        font-size: 14px;
        padding: 8px;
    }
}
