header{
  background:var(--dark-blue);
}

.nav{
  max-width:1200px;
  margin:auto;
  padding:18px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo img{
  width:46px;
  height:46px;
}

.logo h1{
  font-size:20px;
  margin:0;
  color:var(--white);
  font-weight:800;
}

.logo p{
  margin:0;
  color:var(--muted);
  font-size:12px;
}

nav ul{
  display:flex;
  list-style:none;
  gap:28px;
}

nav a{
  text-decoration:none;
  color:var(--white);
  opacity:0.9;
  font-weight:700;
}

nav a.active,
nav a:hover{
  opacity:1;
}

/* BUTTON */
.cta{
  background:transparent;
  border:2px solid rgba(255,255,255,0.25);
  padding:10px 18px;
  border-radius:28px;
  color:var(--white);
  cursor:pointer;
  font-weight:700;
}

.cta:hover{
  background:rgba(255,255,255,0.06);
}